html,body { margin:0; padding:0; height:100%; width:100%; overflow: hidden;}

#editor {
    height: 50%;
    width:100%;
    display:inline-block;
    background-color: rgb(70, 31, 106);
}

#container {
    height:100%;
	width:auto;
    white-space : nowrap; 
    overflow : hidden;
    position:relative;
}

#iframe {
	height:50%;
	display:inline-block;
	width:100%;
    background-color: rgb(203, 167, 237);
}

.ace_editor .ace_marker-layer .ace_bracket { display: none }